@import '../../styles/constants.scss';

.header {
    width: 100%;
    display: flex;
    flex-direction: column;

    position: fixed;
    top: 0;
    left: 0;

    box-shadow: 0 -5px 10px rgba(0, 0, 0, .25);
    background-color: $background;

    .menu {
        @extend .container;

        display: flex;
        justify-content: space-between;
        align-items: center;

        padding-top: 1rem;
        padding-bottom: 1rem;
        border-top: 1px solid $border-color;

        .logo {
            font-family: 'Courier New', Courier, monospace;
            font-size: 2.5rem;
            color: $primary;
        }

        #hambuguer {
            display: none;
        }

        .nav {
            display: flex;
            gap: 0 2rem;

            a {
                color: $text-color;

                &:hover {
                    color: $primary;
                }
            }
        }
    }
}

@media(max-width: $media-mobile) {
    .header {
        .menu {
            flex-wrap: wrap;

            .logo {
                font-size: 1.5rem;
            }

            #hambuguer {
                display: flex;
                color: $primary;
                font-size: 1.5rem;
            }

            .nav {
                width: 100%;
                display: none;
                flex-direction: column;

                &[data-open="true"] {
                    display: flex;
                }

                a {
                    margin-top: 1rem;
                }
            }
        }
    }
}