@import '../../styles/constants.scss';

.header {
    width: 100%;
    display: flex;
    flex-direction: column;

    .logo {
        font-family: 'Courier New', Courier, monospace;
        font-size: 2.5rem;
        color: $primary;
    }

    .menu {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 1rem 0;
        border-top: 1px solid $border-color;

        a {
            color: $text-color;

            &:hover {
                color: $primary;
            }
        }
    }

    .nav {
        display: flex;
        gap: 0 2rem;
    }
}

@media(max-width: $media-mobile) {}