// BACKGROUNDS
$background: #f7f8fd;

// COLORS
$primary: rgb(255, 62, 62);
$border-color: #efefef;
$hover-color: lighten($primary, 10%);

// TEXT COLORS
$title-color: #100e26;
$text-color: #6c6d7e;

// MEDIA SIZES
$media-mobile: 990px;

// DEFAULT CLASS
.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 1.5rem;
}